.vue-advanced-table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .vue-advanced-table-controls {
    flex-shrink: 0;
    margin-bottom: 8px;
    display: flex;

    .vue-advanced-table-buttons {
      flex-shrink: 0;

      .vue-advanced-table-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .6);
        z-index: 1;
      }

      .vue-advanced-table-overlay-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }

    .vue-advanced-table-search {
      flex-shrink: 0;
      margin-left: auto;
      text-align: right;
    }
  }

  .vue-advanced-table-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    .vue-advanced-table-header {
      padding-right: 17px;

      .vue-advanced-table-column-header {
        padding: 4px;
        box-sizing: border-box;
        border-bottom: 1px solid #ccc;

        .vue-advanced-table-column-header-content {
          position: absolute;
          top: 0;
        }

        .vue-advanced-table-column-header-content-placeholder {
          opacity: 0;
        }
      }
    }

    .vue-advanced-table-scroll {
      overflow-y: scroll;
    }

    .vue-advanced-table-row {

      .vue-advanced-table-cell {
        padding: 4px;
      }
    }
  }



  .instructions {
    color: #fff;
    text-align: center;
    margin: 20px auto 0;
    width: 200px;
    font-size: 14px;
  }

  .button-collection {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #fff;
    padding: 4px 4px 0;
    display: flex;
    flex-direction: column;

    button {
      width: 100%;
      margin-bottom: 4px;

      &.inactive {
        opacity: .4;
      }
    }

    .drag-handle {
      padding: 4px;
      border: 1px solid #ccc;
      border-bottom: 0px;
      display: flex;

      &:last-of-type {
        border-bottom: 1px solid #ccc;
      }

      .column {
        flex-grow: 1;
        padding-left: 4px;
      }
    }
  }
}